.contactform-content {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  background-color: rgba(var(--sectional-color), 0.2);

  box-shadow: -7px 10px 30px -10px rgba(var(--sectional-color), 0.7);
  border-radius: 10px;
}

.contactform-doublewidth {
  grid-column: 1/3;
}
.contactform-flexcenter {
  display: flex;
  justify-content: center;
}

.contactform-submit {
  width: 20%;
  aspect-ratio: 3.618/1;
  text-transform: capitalize;
  background-color: var(--secondary);
  outline: 2px solid var(--primary);
  font-weight: bold;
}

.contactform-submit:hover {
  outline-color: var(--secondary);
  background-color: transparent;
  color: var(--primary);
}
