.contact-content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.contact-inner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2vw;
}

.contact-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  background-color: rgba(var(--sectional-color), 0.2);
  border-radius: 10px;
  box-shadow: -7px 6px 10px -8px rgba(var(--sectional-color), 0.7);
  padding: 2%;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.contact-link:hover {
  background-color: var(--secondary);
}

.contact-link:hover > .contact-link-image {
  color: black;
}

.contact-link-image {
  width: 70%;
  height: 70%;
  color: var(--primary);
}

@media (max-width: 600px) {
  .contact-inner {
    display: flex;
    flex-direction: column;
  }
  .contact-links {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-link {
    max-height: 6vh;
  }
}
