.navbar {
  background-color: var(--background-color);
  opacity: 0.8;

  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  border-radius: 50%;
  height: 5vh;

  aspect-ratio: 1/1;
  background-image: url('/pfp.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  color: var(--primary);
  text-decoration: none;
}

.navbar-misc {
  display: flex;
  gap: 1rem;
  align-items: space-between;
}

.navbar-resume {
  aspect-ratio: 3.618/1;
  text-transform: capitalize;
  color: var(--secondary);
  background-color: transparent;
  outline: 2px solid var(--primary);
}

.navbar-resume:hover {
  outline-color: var(--secondary);
  background-color: transparent;
  color: var(--primary);
}

.navbar-mobile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.4vh;
}

.navbar-mobile-dropdown-button {
  text-transform: capitalize;
  padding: 1%;
  color: var(--primary);
}

/* for some reason if your mobile device supports hover or ur desktop is tiny... */
.navbar-mobile-dropdown-button:hover {
  border: 1px solid var(--secondary);
  border-radius: 10px;
}
