.landing,
.skills {
  overflow: hidden;
}

.page-blob {
  background-color: white;
  height: 50vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.6;
  filter: blur(14vmax) brightness(0.8);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: calc(var(--rand) * 1.1) calc(var(--rand) * 1.2);
  }

  to {
    rotate: 360deg;
  }
}

@media only screen and (hover: none) {
  .page-blob {
    display: none;
  }
}
