.skills-content {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.skills-description {
  padding-left: 5%;
  flex-grow: 1;
}
.skills-desciption-inner {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  animation: load-in 0.3s;
}

.skills-image {
  height: 15vh;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.skills-image-container {
  align-self: center;
}
.skills-interactive-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 3.5vh;
}

.skills-interactive-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2vh;
}

.skills-tab {
  font-size: var(--subtitle-size);
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .skills-image {
    height: 10vh;
  }
}
